@using Abp.Application.Services.Dto

@{
    Layout = "~/Views/WeixinPage/Weixin/__Layout/Layout.cshtml";
    ViewBag.Title = "我的收藏";

}

@section scripts
{
    <script>


        (function() {
            $(function() {

                var progress = $.AMUI.progress;
                var GrouponItems = function() {
                    progress.start();
                    $('#main-container').hide();

                    app.services.app.weixinService.getMyLikeGrouponItems({}).done(function (result) {

                        var html = template('groupItemHtml', result);
                        document.getElementById('groupItem-list').innerHTML = html;


                    }).always(function() {
                        progress.done(true);
                        $('#main-container').show();
                    });
                };

                GrouponItems();

            });
        })();

    </script>
}

<div data-am-widget="tabs" class="am-tabs am-tabs-d2" style="margin: 0px">
    <div class="am-tabs-bd">
        <div id="groupItem-list">
            
        </div>
    </div>
</div>

<script id="groupItemHtml" type="text/html">

    {{each items as value i}}
    <div class="am-panel am-panel-default portal-list-item" style="padding: 2px; margin: 5px; border-color: white; margin-top: 5px">
        <a href="/weixin/mall/groupon/view?id={{value.id}}">
            <img src="{{value.thumbnail}}?width=640&height=300&mode=crop" style="width: 100%" />
            <p class="goods-name">{{value.name}}</p>
            <div class="am-g bar" style="margin-bottom: 10px">
                <div class="am-u-sm-8">
                    <span style="color: #ff6600">￥{{value.price}}</span>
                    <span style="color: gray; margin-left: 5px">已团{{value.sellCount}}{{value.unit}}</span>
                </div>
                <div class="am-u-sm-4 ">
                    <a style="color: white;" href="/weixin/mall/groupon/view?id={{value.id}}" class="am-btn am-radius am-btn-warning pull-right">去开团&nbsp;<i class="am-icon-chevron-right "></i></a>
                </div>
            </div>
        </a>
     
    </div>
    {{/each}}

</script>