@using Abp.Web.Mvc.Extensions
@model  List<Abp.Application.Services.Dto.ComboboxItemDto>

@{
    Layout = "~/Views/WeixinPage/Weixin/__Layout/Layout.cshtml";
    ViewBag.Title = "评论商品";
    var orderId = ViewData["id"];

}

@section scripts
{
    @Html.IncludeScript("~/Content/frontpage/js/lrz.bundle.js")

    <script>
        (function () {
            $(function () {

               



                $('#submit').click(function (e) {
                    e.preventDefault();
                    var content = $('#content').val();
                   
                    if (content === "") {
                        $('#content').focus();
                        app.message.warn('请输入评价内容!');
                        return;
                    }

                    app.ui.setButtonBusy($('#submit'));
                    app.services.app.weixinService.orderComment({ orderId: '@(orderId)', content: content })
                        .done(function (result) {
                            app.message.success('评论商品', '成功', function () {
                                //window.location.href = '/Mall/AddressList';
                                history.go(-1);
                            });
                        }).always(function () {
                            app.ui.clearButtonBusy($('#submit'));
                        });

                });


            });
        })();

    </script>
}

<div class="am-panel am-panel-default service-form">
    <form class="am-form">
       
        <div class="am-form-group service-form-input" style="margin-top: 10px">
            <textarea class="" rows="5" id="content" style="width: 100%;border: 0" placeholder="请输入评价内容"></textarea>
        </div>
    </form>
</div>
<div class="am-g">
    <div class="am-u-sm-12">
        <button type="button" class="am-btn am-btn-primary am-radius am-btn-block service-form-submit" id="submit">提交</button>
    </div>
</div>