
@{
    Layout = "~/Views/WeixinPage/Weixin/__Layout/Layout.cshtml";
    ViewBag.Title = ViewData["title"];
}

@section styles
{
    <style>
       
    </style>
}

@section scripts
{
    <script>


        (function () {
            $(function () {
                var code = '9999';
                $('#submit').click(function (e) {
                    e.preventDefault();

                    var username = $('#username').val();
                    var password = $('#code').val();
                    var password1 = $('#password').val();



                    if (username === "") {
                        $('#username').focus();
                        app.message.warn('请输入手机号码!');
                        return;
                    }
                    if (password === "") {
                        $('#code').focus();
                        app.message.warn('请输入验证码!');
                        return;
                    }
                    if (password1 === "") {
                        $('#password').focus();
                        app.message.warn('请输入新密码!');
                        return;
                    }

                    app.ui.setButtonBusy($('#submit'));
                    app.services.app.weixinService.retrievePassWord(username,password1, password)
                        .done(function (result) {
                            if (result.success) {
                                app.message.success('设置密码成功', '成功', function () {
                                    //window.location.href = '/Mall/AddressList';
                                    history.go(-1);
                                });
                            } else {
                                app.message.error(result.msg);
                            }
                        }).always(function () {
                            app.ui.clearButtonBusy($('#submit'));
                        });

                });

                var wait = 60;
                function time(o) {
                    if (wait <= 0) {
                        $(o).text("获取验证码");
                        wait = 60;
                        $('#bntSendCode').removeAttr("disabled");
                    } else {
                        $(o).text ( "重新发送(" + wait + ")");
                        wait--;
                        setTimeout(function() {
                                time(o);
                            },
                            1000);
                    }
                }

                $('#bntSendCode').click(function (e) {
                    e.preventDefault();

                    var username = $('#username').val();
                   

                    if (username === "") {
                        $('#username').focus();
                        app.message.warn('请输入手机号码!');
                        return;
                    }

                    if (username.length!==11) {
                        $('#username').focus();
                        app.message.warn('请输入正确的手机号码!');
                        return;
                    }
                    
                    app.services.app.weixinService.sendSMS(username, 2)
                        .done(function (result) {
                            if (result.success) {
                                code = result.code;
                                $('#bntSendCode').attr("disabled", "disabled");
                                wait = 60;
                                time($('#bntSendCode'));
                            } else {
                                app.message.warn(result.msg);
                            }
                        }).always(function () {
                           
                        });

                });


            });
        })();

    </script>
}

<div id="step_1" style="padding-top: 10px">
    
    <div class="am-g">
        <p style="margin-bottom: 0px">
            <input type="text" id="username" class="am-form-field am-radius" placeholder="手机号码" />

            <div class="am-input-group">
                <input type="text" id="code" class="am-form-field am-radius" placeholder="验证码" />
                <span class="am-input-group-btn">
                    <button class="am-btn am-btn-default" id="bntSendCode" style="background-color: #ff6600;color: white" type="button">获取验证码</button>
                </span>
            </div>
            <input type="password" id="password" class="am-form-field am-radius" placeholder="设置新密码，最小长度6位" />
        </p>
        
    </div>
    <div class="am-g">
        <div class="am-u-sm-12">
            <button type="button" class="am-btn am-btn-primary am-radius am-btn-block service-form-submit" id="submit">提交</button>
        </div>
    </div>
</div>

