@using Abp.Web.Mvc.Extensions
@model LesoftWuye2.Application.Newss.Dto.NewsItemDto
@{
    Layout = "~/Views/WeixinPage/Weixin/__Layout/Layout.cshtml";
    ViewBag.Title = "添加商铺";
}
@section styles
{
    <style>
        .am-form-group {
            margin-bottom: 0px;
        }
    </style>
}
@section scripts
{
    <script>
        (function() {
            $(function() {

                var roomCode = '';
                var roomName = '';
                var memberID = '';
                var mobile = '';
                var isFirst = true;
                var exists_pRoomcodes = new Array();

                //app.services.app.wuyeApiAppSrvice.getMemberInfoByAPPUserID(getAppId()).done(function(result) {
                //    if (result.memberID !== 0 && result.pRooms && result.pRooms.length > 0) {
                //        isFirst = false;
                //        memberID = result.memberID;

                //        $(result.pRooms).each(function(idx, obj) {
                //            exists_pRoomcodes.push(obj.pRoomCode);
                //        });

                //        console.log(exists_pRoomcodes);
                //    }
                //});


                $('#room-list').delegate('li', 'click', function(e) {
                    e.preventDefault();
                    var code = $(this).data('code');
                    $('#room-list li i[data-role="select"]').attr('class', 'am-icon-circle-o am-icon-fw');
                    $('#room-list li').attr('data-select', 'false');


                    $('#room-list li[data-code="' + code + '"] i[data-role="select"]').attr('class', 'am-icon-check-circle-o am-icon-fw');
                    $('#room-list li[data-code="' + code + '"]').attr('data-select', 'true');
                });

                $('#step_1_submit').click(function(e) {
                    e.preventDefault();

                    var mobile = $('#mobile-2').val();
                    if (mobile === '') {
                        app.message.warn('请输入用户名!');
                        return;
                    }

                    var password = $('#password').val();
                    if (password === '') {
                        app.message.warn('请输入密码!');
                        return;
                    }


                    app.services.app.weixinService.getPRoomInfoByUserPass(mobile, password).done(function (result) {

                        if (result.success) {
                            var html = '';
                            var cnt = 0;
                            $(result.pRooms).each(function(idx, obj) {
                                var line = '';
                                if (exists_pRoomcodes.indexOf(obj.pRoomCode) === -1) {
                                    line += "<li data-name='" + obj.pRoomFullName + "' data-code='" + obj.pRoomCode + "' data-projectcode='" + obj.pProjectCode + "'>";
                                    line += "<i data-role='select' class='am-icon-circle-o am-icon-fw' style='color: #0894ec'></i>";
                                    //line += "<span class='am-badge am-badge-danger'><a data-role='delete' style='color: white'>删除</a></span>";
                                    line += "<span><span>" + obj.pRoomFullName + "</span> <br /><i style='font-size: .9rem;color: #666'>单元编号:" + obj.pRoomCode + "</i></span></li>";
                                    cnt++;
                                    html += line;
                                }
                            });

                            if (cnt === 0) {
                                app.message.warn('找不到相应的商铺信息!');
                                return;
                            }

                            $('#room-list').empty();
                            $('#room-list').append(html);

                            if (isFirst) {

                            } else {
                                $('#step_2_submit').text('确认添加商铺');
                            }

                            $('#step_1').hide();
                            $('#step_2').show();

                        } else {

                            app.message.warn(result.msg);
                            return;

                        }
                    });


                });

                $('#step_2_submit').click(function(e) {
                    e.preventDefault();

                    var item = $('#room-list li[data-select="true"]');
                    roomCode = $(item).data('code');
                    roomName = $(item).data('name');
                    if (!$(item).data('code')) {
                        app.message.warn("请选择需要绑定的商铺!");
                        return;
                    }

                    //if (isFirst) {
                    //    $('#step_2').hide();
                    //    $('#step_3').show();

                    //} else {

                        //添加房号
                    app.services.app.weixinService.memberAddPRoom(roomCode)
                            .done(function(result) {
                                if (result.success) {
                                    app.message.success('添加商铺', '成功', function() {
                                        window.location.href = '/weixin/room/list';
                                    });
                                } else {
                                    app.message.warn(result.msg);
                                }

                            }).always(function() {

                            });
                    //}

                });

                $('#step_3_submit').click(function(e) {
                    e.preventDefault();

                    var name = $('#input-name').val();
                    if (name.length === 0) {
                        app.message.warn('请输入您的姓名!');
                        return;
                    }

                    //添加会员
                    app.services.app.wuyeApiAppSrvice.addMemberByAPPUser({ appUserID: getAppId(), appUserName: name, appUserPhone: getAppId(), pRoomCode: roomCode })
                        .done(function(result) {
                            if (result.success) {

                                
                                //设置默认
                                app.services.app.AppapiService.SetCurrentRoomInfo({ userid: getAppId(), name: roomName, code: roomCode });

                                app.message.success('添加商铺', '成功', function() {
                                    window.location.href = '/Maxwon/Home';
                                });
                            } else {
                                app.message.warn(result.msg);
                            }

                        }).always(function() {

                        });

                });
            });
        })();

    </script>
}

<div>

    <div id="step_1">
        <form class="am-form">
            <fieldset>
                <legend style="margin-bottom: .5rem">身份验证</legend>
                <div class="am-form-group">
                    @*<label>请输入手机号码</label>*@
                    <input type="text" class="" id="mobile-2" maxlength="11" style="width: 100%; text-align: left" placeholder="请输入用户名">
                </div>
                <div class="am-form-group" style="margin-top: 10px">
                    @*<label>请输入手机号码</label>*@
                    <input type="password" class="" id="password" maxlength="11" style="width: 100%; text-align: left" placeholder="请输入密码">
                </div>
            </fieldset>
        </form>

        <div class="am-g">
            <div class="am-u-sm-12">
                <button type="button" class="am-btn am-btn-primary am-radius am-btn-block service-form-submit" id="step_1_submit">下一步</button>
            </div>
        </div>
    </div>

    <div id="step_2" style="display: none">

        <form class="am-form">
            <fieldset>
                <legend>选择绑定房间</legend>
                <ul class="am-list am-list-static am-list-border" style="margin-top: 0" id="room-list"></ul>
            </fieldset>
        </form>

        <div class="am-g">
            <div class="am-u-sm-12">
                <button type="button" class="am-btn am-btn-primary am-radius am-btn-block service-form-submit" id="step_2_submit">下一步</button>
            </div>
        </div>

    </div>

    <div id="step_3" style="display: none">

        <form class="am-form">
            <fieldset>
                <legend>完善信息</legend>
                <div class="am-form-group">
                    <label>商铺信息</label>
                    <p style="color: blue; font-size: 18px" id="room-info-3"></p>
                </div>
                <div class="am-form-group">
                    <label>姓名</label>
                    <input type="text" class="" id="input-name" placeholder="输入姓名">
                </div>
            </fieldset>
        </form>

        <div class="am-g">
            <div class="am-u-sm-12">
                <button type="button" class="am-btn am-btn-primary am-radius am-btn-block service-form-submit" id="step_3_submit">确认添加商铺</button>
            </div>
        </div>

    </div>


</div>
