@using Abp.Application.Services.Dto
@model LesoftWuye2.Application.Malls.Dto.MallHomeData
@{
    Layout = "~/Views/WeixinPage/Weixin/__Layout/Layout.cshtml";
    ViewBag.Title = "敬请期待";
}

@section styles
{
    <style>
        body {
            background-color: white;
        }
    </style>
}

@section scripts
{
    <script>


        (function () {
            $(function () {

                
            });
        })();

    </script>
}

<div class="am-panel am-panel-default">
    <div class="am-panel-bd">敬请期待</div>
</div>