
@model List<string>
@{
    Layout = "~/Views/WeixinPage/Weixin/__Layout/Layout.cshtml";
    ViewBag.Title = "支付成功";
    
}

@section scripts{

    <script>

       

    </script>
}

<div>
    

    <div style="background-color: white; padding-top: 15px; padding-bottom: 15px; margin-bottom: 10px;padding: 10px">
        <div align="center" style="margin-top: 30px">
            <img src="~/Content/frontpage/i/alipay-logo.png" style="width: 150px;text-align: center" />    
        </div>
        <p align="center" style="color: gray">进入微信查看支付结果</p>
        <hr/>
        <p align="center" style="color: red"><b>支付成功</b></p>
    </div>

</div>

